<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="mecanum_joint" params="prefix bus_name type ID">
      <joint name="${prefix}_wheel_joint">
	<command_interface name="effort"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
        <state_interface name="effort"/>
        <param name="bus_name">${bus_name}</param>
        <param name="type">${type}</param>
	<param name="ID">${ID}</param>
      </joint>
  </xacro:macro>

  <xacro:macro name="engineer_ros2_control" params="name">

    <ros2_control name="${name}" type="system">
      <hardware>
        <!--plugin>SP2Control/SP2Hardware</plugin-->
        <plugin>ign_ros2_control/IgnitionSystem</plugin>
        <param name="example_param_hw_start_duration_sec">0</param>
        <param name="example_param_hw_stop_duration_sec">3.0</param>
        <param name="example_param_hw_slowdown">100</param>
      </hardware>

      <xacro:mecanum_joint prefix="left_front" bus_name="can0" type="rm_3508" ID="0x201"/>
      <xacro:mecanum_joint prefix="left_back" bus_name="can0" type="rm_3508" ID="0x202"/>
      <xacro:mecanum_joint prefix="right_front" bus_name="can0" type="rm_3508" ID="0x203"/>
      <xacro:mecanum_joint prefix="right_back" bus_name="can0" type="rm_3508" ID="0x204"/>
    </ros2_control>

  </xacro:macro>

</robot>
